*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --base:#0fffef;
    --spacing:0px;
    --blur:0px;
}

body{
    width: 100%;
    padding-top: 2rem;
    font-family: 'Prompt', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 3rem;
}

.dashboard{
    padding: 1rem;
    font-size: 1.5rem;
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    width: 500px;
}